pandas
fastapi
uvicorn[standard]
gunicorn
flask
numpy
tensorflow
tensorflow_datasets
tensorflow_recommenders
tensorflow_ranking
pycountry
pycountry_convert
scipy
sklearn
matplotlib
seaborn
nltk
#spacy
scikit-learn
#torch
#sentence_transformers
#transformers
